@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "masterTemplate.cshtml";
}
@{
    var root = Umbraco.ContentAtRoot().FirstOrDefault();
    var currentPage = Umbraco.AssignedContentItem;
    var courseTypes = root.Children.Where(p=>p.IsDocumentType("courseTypes")).FirstOrDefault().Children;
}
    <section id="mu-course-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-course-content-area">
                        <div class="row">
                            <div class="col-md-9">
                                <!-- start course content container -->
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            @Umbraco.RenderMacro("CourseDetailContent")
                                        </div>
                                    </div>
                                </div>
                                <!-- end course content container -->
                                <!-- start related course item -->
                                @Umbraco.RenderMacro("RelatedCourses")
                                <!-- end start related course item -->
                            </div>
                            <div class="col-md-3">
                                <!-- start sidebar -->
                                <aside class="mu-sidebar">
                                    <!-- start single sidebar -->
                                    <div class="mu-single-sidebar">
                                        <h3>Categories</h3>
                                        <ul class="mu-sidebar-catg">
                                            @foreach (var item in courseTypes)
                                            {
                                                <li><a style="@(currentPage.Url==item.Url ? "color: #01bafd" : "")" href="@item.Url">@item.Name</a></li>
                                            }
                                        </ul>
                                    </div>
                                    <!-- end single sidebar -->
                                    <!-- start single sidebar -->
                                    <div class="mu-single-sidebar">
                                        <h3>Popular Course</h3>
                                        <div class="mu-sidebar-popular-courses">
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img class="media-object" src="/assets/img/courses/1.jpg" alt="img">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading"><a href="#">Medical Science</a></h4>
                                                    <span class="popular-course-price">$200.00</span>
                                                </div>
                                            </div>
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img class="media-object" src="/assets/img/courses/2.jpg" alt="img">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading"><a href="#">Web Design</a></h4>
                                                    <span class="popular-course-price">$250.00</span>
                                                </div>
                                            </div>
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img class="media-object" src="/assets/img/courses/3.jpg" alt="img">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading"><a href="#">Health & Sports</a></h4>
                                                    <span class="popular-course-price">$90.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end single sidebar -->
                                    <!-- start single sidebar -->
                                    <div class="mu-single-sidebar">
                                        <h3>Archives</h3>
                                        <ul class="mu-sidebar-catg mu-sidebar-archives">
                                            <li><a href="#">May <span>(25)</span></a></li>
                                            <li><a href="">June <span>(35)</span></a></li>
                                            <li><a href="">July <span>(20)</span></a></li>
                                            <li><a href="">August <span>(125)</span></a></li>
                                            <li><a href="">September <span>(45)</span></a></li>
                                            <li><a href="">October <span>(85)</span></a></li>
                                        </ul>
                                    </div>
                                    <!-- end single sidebar -->
                                    <!-- start single sidebar -->
                                    <div class="mu-single-sidebar">
                                        <h3>Tags Cloud</h3>
                                        <div class="tag-cloud">
                                            <a href="#">Health</a>
                                            <a href="#">Science</a>
                                            <a href="#">Sports</a>
                                            <a href="#">Mathematics</a>
                                            <a href="#">Web Design</a>
                                            <a href="#">Admission</a>
                                            <a href="#">History</a>
                                            <a href="#">Environment</a>
                                        </div>
                                    </div>
                                    <!-- end single sidebar -->
                                </aside>
                                <!-- / end sidebar -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>