@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    var currentPage = Umbraco.AssignedContentItem;

    var courseOutlineList = new List<CourseOutline>();
    var courseOutlineValue = currentPage.Value("courseOutline");
    if (courseOutlineValue != null)
    {
        courseOutlineList = (List<CourseOutline>)courseOutlineValue;
    }
}
<div class="mu-latest-course-single">
    <figure class="mu-latest-course-img">
        <a href="#"><img src="@currentPage.Value("courseImage")" alt="img"></a>
        <figcaption class="mu-latest-course-imgcaption">
            @foreach (var type in currentPage.Value<List<IPublishedContent>>("courseType"))
            {
                <a style="padding-right:6px" href="@type.Url">@type.Name</a>
            }
            <span><i class="fa fa-clock-o"></i>@currentPage.Value("courseDuration")</span>
        </figcaption>
    </figure>
    <div class="mu-latest-course-single-content">
        <h2><a href="#">@currentPage.Value("courseTitle")</a></h2>
        <h4>Course Information</h4>
        <ul>
            <li> <span>Course Price</span> <span>@currentPage.Value("coursePrice")</span></li>
            <li> <span>Place</span> <span>California,USA</span></li>
            <li> <span>Total Students</span> <span>800+</span></li>
            <li> <span>Course Duration</span> <span>@currentPage.Value("courseDuration")</span></li>
            <li> <span>Course Start</span> <span>July 25, 2016</span></li>
        </ul>
        <h4>Description</h4>
        <p>@currentPage.Value("courseDescription")</p>
        <h4>Course Outline</h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th> Title </th>
                        <th> Course Time </th>
                        <th> Spent Time </th>
                        <th> Status </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var outline in courseOutlineList)
                        {
                            <tr>
                                <td>@outline.OutlineTitle</td>
                                <td>@outline.OutlineTime</td>
                                <td>@outline.OutlineSpentTime</td>
                                <td>@outline.OutlineStatus</td>
                            </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>
</div>